span.heading {
    color: rgb(92, 25, 25);
}

div.logo {
    background-color: rgb(98, 165, 145);
    color: rgb(121, 71, 22);
    font-weight: 100;
}

div.teams {
    color: rgb(36, 104, 172);
}

a{
    color: red;
}
