span.heading {
    color: rgb(92, 25, 25);
}

div.logo {
    background-color: rgb(98, 165, 145);
    color: rgb(121, 71, 22);
    font-weight: 100;
}

div.teams {
    color: rgb(36, 104, 172);
}

a{
    color: red;
}

a:hover {
    background-color: yellow;
}

@media screen and (max-width: 700px) {
    body {
      background-color: blue;
    }
}

#okc  {
    color: blue;
}
#thunder   {
    color: orangered;
}
#pizza  {
    color: purple;
}