span.heading {
    color: rgb(92, 25, 25);
}

div.logo {
    background-color: rgb(98, 165, 145);
    color: rgb(121, 71, 22);
    font-weight: 100;
}

div.teams {
    color: rgb(36, 104, 172);
}

a{
    color: red;
}

a:hover {
    background-color: yellow;
}

@media screen and (max-width: 700px) {
    body {
      background-color: blue;
    }
}

#okc  {
    color: blue;
}
div.thunder   {
    color: orangered;
}
div.pizza  {
    color: purple;
}
span.turtle {
    background-color: rgb(91, 216, 238);
}
span.hat    {
    background-color: rgb(236, 105, 105);
}

#cat    {
    color: rgb(91, 32, 158);
}
div.rain {
    color: rgb(162, 88, 236);
}
div.eat {
    color: rgb(7, 122, 88);
}
